html {
    height: 100%;
    /*background: rgb(255, 255, 255);*/
    background: rgb(0, 0, 0);
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0 0 100px 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

body.fadein {
    -webkit-transition: background-color 2s ease-in;
    -moz-transition: background-color 2s ease-in;
    -o-transition: background-color 2s ease-in;
    transition: background-color 2s ease-in;
    background-color: #ffffff;
    /*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,232,225,1) 66%, rgba(219,213,207,1) 100%);*/
}

.flex-container {
    display: flex;
    width: 100%;
    margin: 0 0 4rem 0;
    flex-direction: column;
    flex: 1 0 auto;

}

section {
    margin-top: 2.5rem;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
}

p, blockquote {
    font-family: 'Noto Sans KR', sans-serif;
}

/*body.fadein blockquote a {*/
/*    -webkit-transition: color 2s ease-in;*/
/*    -moz-transition: color 2s ease-in;*/
/*    -o-transition: color 2s ease-in;*/
/*    transition: color 2s ease-in;*/
/*    !*color: #a0a0a0;*!*/
/*}*/

/*body.fadein blockquote a:hover {*/
/*    -webkit-transition: color 0.4s ease-in;*/
/*    -moz-transition: color 0.4s ease-in;*/
/*    -o-transition: color 0.4s ease-in;*/
/*    transition: color 0.4s ease-in;*/
/*    font-weight: bold;*/
/*    color: inherit;*/
/*}*/


blockquote a {
    text-decoration: none;
    -webkit-transition: color 2s ease-in;
    -moz-transition: color 2s ease-in;
    -o-transition: color 2s ease-in;
    transition: color 2s ease-in;
    color: inherit;
}

blockquote a:hover {
    /*font-weight: bold;*/
    -webkit-transition: color 0.4s ease-in;
    -moz-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
    transition: color 0.4s ease-in;
    color: #005080;
}

.font-size-3 {
    font-size: 4vh;
}

.font-size-1 {
    font-size: 4vh;
}

figcaption {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic;
    font-size: 2.5vh;
    color: #000000
}

body.fadein figcaption {
    -webkit-transition: color 2s ease-in;
    -moz-transition: color 2s ease-in;
    -o-transition: color 2s ease-in;
    transition: color 2s ease-in;
    color: #c0c0c0
}

body.fadein figcaption.darker {
    color: #808080;
}

footer {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 1rem 0;
    flex-shrink: 0;
    min-height: 1rem;
}

footer a {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5vh;
    text-decoration: none;
}

body.fadein footer a {
    -webkit-transition: color 2s ease-in;
    -moz-transition: color 2s ease-in;
    -o-transition: color 2s ease-in;
    transition: color 2s ease-in;
    color: #a0a0a0;
}

body.fadein footer a:hover {
    -webkit-transition: color 0.4s ease-in;
    -moz-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
    transition: color 0.4s ease-in;
    font-weight: bold;
    color: #ffffff;
}


#body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#body::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#body::-webkit-scrollbar-thumb
{
    background-color: #808080;
    border-radius: 3px;
}

.quote {
    margin-bottom: 50px;
}
