html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #303035;
    color: #808080;
    padding-left: 20px;
    padding-top: 10px;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #909090;
}

a:hover {
    color: #7cb0ec;
}

h1 {
    color: #a0a0a0;
}

li {
    padding: 5px;
}
