body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #2980b9;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

/*h1, h2, h3 {*/
/*    color: #2c3e50;*/
/*}*/
h1 {
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

.toc {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.toc ul {
    list-style: none;
    padding: 0 0 0 20px;
}

.toc li {
    margin: 5px 20px 5px;
}

.toc ol {
    padding-left: 20px;
}

.chapter {
    margin-bottom: 40px;
}

.section {
    margin-bottom: 30px;
}

.principle {
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.references {
    margin-top: 30px;
}
.subtext{
    text-align: center;
}

.code {
    font-family: "Droid Sans Mono", monospace;
}